---

- __Author name:__ UBAIDULLAH

- __Email:__ [ai.bussiness.student0@gmail.com](mailto:ai.bussiness.student0@gmail.com)

- __GitHub:__ [github.com/ubaid-X/](https://github.com/ubaid-X/)

- __LinkedIn Profile:__ [linkedin.com/in/ubaid-ullah-634563373/](https://www.linkedin.com/in/ubaid-ullah-634563373/)

- __Kaggle:__ [kaggle.com/ubaidullah01](https://www.kaggle.com/ubaidullah01)

---

> # 1- Automatic EDA on titanic using `ydata_profiling`

In [1]:
# importing libraries
import pandas as pd 
import ydata_profiling as yp

c:\Users\Computer Valley\.conda\envs\ydata_profiling\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# import data from local folder
df = pd.read_excel("../5_Datasets/titanic_ex.xlsx")
df.head()

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# ydata profile report
profile = yp.ProfileReport(df)
profile.to_file(output_file='../5_Datasets/ydata_titanic.html')

100%|██████████| 16/16 [00:00<00:00, 17.03it/s]1<00:00, 13.48it/s, Describe variable: alone]
Summarize dataset: 100%|██████████| 51/51 [00:11<00:00,  4.31it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.52s/it]
Render HTML: 100%|██████████| 1/1 [00:04<00:00,  4.54s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 34.09it/s]

> extension name:  `HTML Preview` to download

---
---
> # 2- Automatic EDA On Pak Population Dataset

In [ ]:
df_pop = pd.read_excel("../5_Datasets/pakistan_population_ex.xlsx")

In [ ]:
# ydata profile report
profile = yp.ProfileReport(df_pop)
profile.to_file(output_file='../5_Datasets/ydata_pak_population.html')

100%|██████████| 22/22 [00:00<00:00, 46.75it/s]0<00:00, 36.14it/s, Describe variable: ANNUAL GROWTH RATE (URBAN)]
Summarize dataset: 100%|██████████| 355/355 [01:23<00:00,  4.27it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:15<00:00, 15.27s/it]
Render HTML: 100%|██████████| 1/1 [00:24<00:00, 24.06s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  5.28it/s]

---
---

> # 3- Automatic EDA of Mobile_Shop Data

In [1]:
# importing libraries
import pandas as pd 
import ydata_profiling as yp

c:\Users\Computer Valley\.conda\envs\ydata_profiling\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# Importing dataset
df_mobile = pd.read_csv("../5_Datasets/mobile_shop1.csv")
df_mobile.head()

,battery,camera,display,memory,name,price,processor,rating,reviews,warranty
0,5000 mAh Battery,12MP + 2MP | 8MP Front Camera,15.8 cm (6.22 inch) HD+ Display,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,"Redmi 8 (Ruby Red, 64 GB)",9999,Qualcomm Snapdragon 439 Processor,4.4,"55,078 Reviews",Brand Warranty of 1 Year Available for Mobile ...
1,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 64 GB ROM,"Realme 5i (Aqua Blue, 64 GB)",10999,Qualcomm Snapdragon 665 2 GHz Processor,4.5,"20,062 Reviews",Sunrise Design
2,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 128 GB ROM,"Realme 5i (Aqua Blue, 128 GB)",11999,Qualcomm Snapdragon 665 (2 GHz) Processor,4.5,"20,062 Reviews",Sunrise Design
3,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 128 GB ROM,"Realme 5i (Forest Green, 128 GB)",11999,Qualcomm Snapdragon 665 (2 GHz) Processor,4.5,"20,062 Reviews",Sunrise Design
4,4000 mAh Battery,13MP + 2MP | 5MP Front Camera,15.49 cm (6.1 inch) HD+ Display,3 GB RAM | 32 GB ROM | Expandable Upto 256 GB,"Realme C2 (Diamond Blue, 32 GB)",7499,MediaTek P22 Octa Core 2.0 GHz Processor,4.4,"10,091 Reviews",Dual Nano SIM slots and Memory Card Slot

In [ ]:
# creating Profile raport
profile = yp.ProfileReport(df_mobile)
profile.to_file("../5_Datasets/ydata_mobile_shop.html")

100%|██████████| 10/10 [00:00<00:00, 14.05it/s]1<00:00, 11.07it/s, Describe variable: warranty]
Summarize dataset: 100%|██████████| 24/24 [00:03<00:00,  6.01it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:12<00:00, 12.20s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.39s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 34.72it/s]

In [7]:
df_mobile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   battery    984 non-null    object
 1   camera     984 non-null    object
 2   display    984 non-null    object
 3   memory     984 non-null    object
 4   name       984 non-null    object
 5   price      984 non-null    int64
 6   processor  983 non-null    object
 7   rating     971 non-null    float64
 8   reviews    971 non-null    object
 9   warranty   836 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 77.0+ KB